.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 1910px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Ellipse_2 {
	fill: rgba(41,169,225,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 493px;
	height: 483px;
	left: 133px;
	top: 678px;
}
#Ellipse_5 {
	fill: rgba(169,125,81,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 352px;
	top: 1210px;
}
#Ellipse_19 {
	fill: rgba(169,125,81,1);
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 1869px;
	top: 1267px;
}
#Ellipse_18 {
	fill: rgba(169,125,81,1);
}
.Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: -210px;
	top: 955px;
}
#Ellipse_15 {
	fill: rgba(169,125,81,1);
}
.Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 1170px;
	top: 568px;
}
#Ellipse_9 {
	fill: rgba(41,169,225,1);
}
.Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 482px;
	top: 1627px;
}
#Ellipse_17 {
	fill: rgba(41,169,225,1);
}
.Ellipse_17 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: -130px;
	top: 1335px;
}
#Ellipse_11 {
	fill: rgba(41,169,225,1);
}
.Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 1300px;
	top: 993px;
}
#Ellipse_16 {
	fill: rgba(41,169,225,1);
}
.Ellipse_16 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 1628px;
	top: 474px;
}
#Ellipse_6 {
	fill: rgba(252,238,33,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: -46px;
	top: 1752px;
}
#Ellipse_12 {
	fill: rgba(252,238,33,1);
}
.Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 960px;
	top: 1518px;
}
#Ellipse_14 {
	fill: rgba(252,238,33,1);
}
.Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 806px;
	top: 1092px;
}
#Ellipse_7 {
	fill: rgba(252,238,33,1);
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 1758px;
	top: 910px;
}
#Ellipse_13 {
	fill: rgba(252,238,33,1);
}
.Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 251px;
	left: 688px;
	top: 693px;
}
#Ellipse_3 {
	fill: rgba(41,169,225,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 493px;
	height: 483px;
	left: 1296px;
	top: 1309px;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1022px;
	height: 415px;
	left: 848px;
	top: 693px;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 1022px;
	height: 415px;
	left: 50px;
	top: 1327px;
}
#WELCOME_TO_MY_PORTFOLIO {
	left: 462px;
	top: 428px;
	position: absolute;
	overflow: visible;
	width: 1036px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(0,0,0,1);
}
#I_love_to_build_desktops_I_do_ {
	left: 882px;
	top: 791px;
	position: absolute;
	overflow: visible;
	width: 955px;
	white-space: nowrap;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Being_interested_in_the_IT_sid {
	left: 84px;
	top: 1381px;
	position: absolute;
	overflow: visible;
	width: 955px;
	white-space: nowrap;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#MONITOR {
	position: absolute;
	width: 405.216px;
	height: 434px;
	left: 98.392px;
	top: 640px;
	overflow: visible;
}
#DESKTOP {
	position: absolute;
	width: 436px;
	height: 393px;
	left: 286px;
	top: 704px;
	overflow: visible;
}
#KEYBOARD {
	position: absolute;
	width: 617.697px;
	height: 412.875px;
	left: 1121.599px;
	top: 1348.92px;
	overflow: visible;
}
#MOUSE {
	position: absolute;
	width: 239.909px;
	height: 249px;
	left: 1556.5px;
	top: 1349px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 956px;
	height: 138px;
	left: 174px;
	top: 138px;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 235px;
	left: 56px;
	top: 50px;
}
#LOGO {
	left: 97px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
#ABOUT {
	left: 327px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: About.html;
	cursor: pointer;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#PORTFOLIO {
	left: 530px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 265px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Portfolio.html;
	cursor: pointer;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#CONTACT {
	left: 836px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#LOGO_bd {
	position: absolute;
	width: 247px;
	height: 235px;
	left: 50px;
	top: 50px;
	overflow: visible;
}