.mediaViewInfo {
	--web-view-name: Portfolio;
	--web-view-id: Portfolio;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Portfolio;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Portfolio {
	position: absolute;
	width: 1920px;
	height: 3291px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Portfolio;
	--web-view-id: Portfolio;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Rectangle_23 {
	fill: rgba(41,169,225,1);
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 1022px;
	height: 415px;
	left: -19px;
	top: 740px;
}
#Rectangle_24 {
	fill: rgba(252,238,33,1);
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 1022px;
	height: 415px;
	left: 898px;
	top: 1705px;
}
#Rectangle_25 {
	fill: rgba(169,125,81,1);
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 1022px;
	height: 415px;
	left: -23px;
	top: 2541px;
}
#Rectangle_17 {
	fill: rgba(41,169,225,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 618px;
	left: 1356px;
	top: 557px;
}
#Rectangle_19 {
	fill: rgba(169,125,81,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 618px;
	left: 93px;
	top: 1396px;
}
#Rectangle_22 {
	fill: rgba(252,238,33,1);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 618px;
	left: 1356px;
	top: 2288px;
}
#Rectangle_18 {
	fill: rgba(252,238,33,1);
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 618px;
	left: 1263px;
	top: 700px;
}
#Rectangle_20 {
	fill: rgba(41,169,225,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 618px;
	left: 186px;
	top: 1539px;
}
#Rectangle_21 {
	fill: rgba(169,125,81,1);
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 618px;
	left: 1240px;
	top: 2384px;
}
#WEBSITE_DESIGN {
	left: 1376px;
	top: 947px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#APP_DESIGN {
	left: 311px;
	top: 1776px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#VR__AR {
	left: 1356px;
	top: 2632px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Mask_Group_1 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1022px;
	height: 415px;
	left: 845px;
	top: 1635px;
	overflow: visible;
}
#Mask_Group_2 {
	position: absolute;
	width: 1022px;
	height: 415px;
	left: 50px;
	top: 801px;
	overflow: visible;
}
#Mask_Group_3 {
	position: absolute;
	width: 1022px;
	height: 415px;
	left: 50px;
	top: 2461px;
	overflow: visible;
}
#PORTFOLIO_a_showcase_of_my_wor {
	left: 291px;
	top: 365px;
	position: absolute;
	overflow: visible;
	width: 1328px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(0,0,0,1);
}
#Rectangle_9 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 956px;
	height: 138px;
	left: 174px;
	top: 138px;
}
#ABOUT {
	left: 327px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: About.html;
	cursor: pointer;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#PORTFOLIO {
	left: 530px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 265px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#CONTACT {
	left: 836px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#LOGO {
	position: absolute;
	width: 247px;
	height: 235px;
	left: 50px;
	top: 50px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}